/* loading_with_scroll_selector ライブラリ */

$options_height: 100px;

.loading_with_scroll_selector {
  .selector {
    position: relative;
  }

  .selector_wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .selected_option_box {
    box-sizing: border-box;
    border: 1px solid #c5c5c5;
    border-radius: 10px;
    padding: 5px 10px;
  }

  .options_wrapper {
    border: 1px solid #c5c5c5;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
  }

  .options {
    height: $options_height;
    display: block;
    background: #FFF;
    margin: 0;
    padding: 0;
    width: calc(100% + 17px) ;;
    padding-right: 17px;
    overflow-y: scroll;
  }

  .options li {
    cursor: default;
    box-sizing: border-box;
    padding: 2px 10px;
  }
  .options li:hover {
    background-color: #66b6d5;
    color: #fff;
  }

  .selected_option {
    background-color: #ddd;
  }

  .options_scrollbar {
    height: $options_height/5;
    width: 6px;
    position: absolute;
    right: 1px;
    background: #767676;
    opacity: 0.8;
    border-radius: 2px;
  }
}
